body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: dimgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.img-home {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.container-boton {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.form-control {
  width:50%;
  margin-left:25%;
  margin-right:25%;
}

.btn-ingresar {
  background-color: #666;
  border: 2px solid black;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

.btn-ingresar:hover {
  background-color: #888;
  outline: 2px solid black;
  transition: all 0.3s;
}

.form-control {
  background-color: rgb(59, 57, 57);
  padding-left:30px;
  padding-right:30px;
}

.form-label {
  color: #ccc;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}

hr {
  color:#bbb;
}

.text-button {
  margin-right: 10px;
}

.button:hover {
  text-decoration: none;
  color: unset;
}

.form-text {
  color:#ccc;
}

.form-control {
  border: 2px solid red;
}

.input-form {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
}

.btn-google {
  background-color: #db4a39;
  border: 2px solid black;
  border: none;
  margin-bottom: 10px;
}

.btn-github {
  background-color: #4078c0;
  border: 2px solid black;
  border: none;
}

.btn-google:hover {
  background-color: #a82717;
  outline:2px solid #ccc;
  transition: all 0.3s;
}

.btn-logout {
  text-align: center;
  align-self: center;
  position:absolute;
  right: 10px;
  top: 65px;
}

.btn-search {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  height: 45px;
  font-weight: 700;
}

.home-content {
  padding-left: 20%;
  width: 60%;
  padding-right: 20%;
  text-align: center;
}


nav {
  display: inline-flex;
  justify-content: space-around;
  padding: 2rem 0;
  background: #111;
}

nav section {
  width: 100%;
}

nav a {
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  background: #222;
}

a {
  color: #ea3546;
  text-decoration: none;
}

.navbar-logo {
  margin-right: 80%;
}

#btn-salir {
  margin-right: 10px;
}